# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.*
!.env.sample  # keep sample env template

# Prisma
# (Keep migrations and schema, ignore generated client)
prisma/generated/
prisma/dev.db  # if using SQLite locally

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & system
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo
